.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
   

}

.experience li .title {
    font-size: 1.35rem;
}

.experience li {
    margin-bottom: 1rem;
}

.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience li .period a {
    margin-right: .5rem;
    font-size: 1.15rem;
    font-style: italic;
}

.experience li .period::after {
    display: inline-block;
    flex-direction: row;
    content: '';
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/calendar.svg');
    margin-left: .5rem;
}