.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: url('/assets/img/icons/points.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    font-family: 'Neue Machina';
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: flex-start;
}

.information p {
    margin: .5rem;
    font-size: 1.12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin: .5rem;
}

.information .position::before {
    background-image: url('/assets/img/icons/position.svg');
}

.information .location::before {
    background-image: url('/assets/img/icons/location.svg');
}

.information .phone::before {
    background-image: url('/assets/img/icons/phone.svg');
}

.information .email::before {
    background-image: url('/assets/img/icons/email.svg');
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
        "photo title"
        "photo information"
        ; 
    }

    .header {
        flex-direction: row;
        
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto  ;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 220px;
    }
    
    .header .information {
        grid-area: information;
    }
}